Repository tembo-io/tembo-stacks, changes with the owners that CODEOWNERS names for each.
All owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fix selector
  coredb-operator/src/secret.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/apis/postgres_parameters.rs
  coredb-operator/src/deployment_postgres_exporter.rs
  coredb-operator/src/secret.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fix test
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fix
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add namespaceselector to all webhooks
  charts/tembo-pod-init/templates/mutating-webhook-configuration.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

wait for exporter pod ready
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Fix label params
  coredb-operator/src/secret.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

update code to switch exporter over to cnpg instance when enabled
  coredb-operator/justfile
  coredb-operator/src/controller.rs
  coredb-operator/src/deployment_postgres_exporter.rs
  coredb-operator/test-db.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/controller.rs
  coredb-operator/src/deployment_postgres_exporter.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add back in cluster topology to status
  coredb-operator/src/cloudnativepg/clusters.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add empty struct
  coredb-operator/src/cloudnativepg/clusters.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add a test
  coredb-operator/justfile
  coredb-operator/src/cloudnativepg/clusters.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/lib.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fix serde errors, update crates, add default cnpg image fn
  charts/coredb-operator/templates/crd.yaml
  coredb-operator/Cargo.lock
  coredb-operator/Cargo.toml
  coredb-operator/src/apis/coredb_types.rs
  coredb-operator/src/cloudnativepg/clusters.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/controller.rs
  coredb-operator/src/defaults.rs
  coredb-operator/src/main.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/lib.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fix
  coredb-operator/src/cloudnativepg/clusters.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/lib.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

initial branch
  charts/coredb-operator/templates/crd.yaml
  coredb-operator/src/apis/coredb_types.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Tidy justfile
  coredb-operator/justfile
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Set both user and username
  coredb-operator/Cargo.lock
  coredb-operator/Cargo.toml
  coredb-operator/src/secret.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/secret.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update coredb-operator/src/secret.rs
  coredb-operator/src/secret.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Handle extensions flipping
  coredb-operator/src/controller.rs
  coredb-operator/src/extensions.rs
  coredb-operator/test-db-extensions.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Handle extensions flipping (#125)
  coredb-operator/src/controller.rs
  coredb-operator/src/extensions.rs
  coredb-operator/test-db-extensions.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update operator.yaml
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Adding basic create test clone for CNPG enabled
  coredb-operator/justfile
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Handle setting resources
  coredb-operator/src/cloudnativepg/clusters.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Install kube-prometheus-stack
  coredb-operator/justfile
  coredb-operator/test-db.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Merge instead of apply
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update integration_tests.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

remove service account from test
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Set resources in CNPG and add a test (#126)
  coredb-operator/justfile
  coredb-operator/src/cloudnativepg/clusters.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/test-db.yaml
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/cloudnativepg/clusters.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

delete comment
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add function for waiting for pod
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add migration test
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Restart when watcher is done
  tembo-pod-init/.gitignore
  tembo-pod-init/src/main.rs
Owners: @nhudson

fmt
  tembo-pod-init/src/main.rs
Owners: @nhudson

Only sleep if failure
  tembo-pod-init/src/main.rs
Owners: @nhudson

Actions error handling
  coredb-operator/src/controller.rs
  coredb-operator/src/extensions.rs
  coredb-operator/src/postgres_exporter.rs
  coredb-operator/src/statefulset.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

CODEOWNERS:

.github/** @sjmiller609 @nhudson @ianstanton
charts/** @sjmiller609 @nhudson @ianstanton
dataplane-webserver/** @sjmiller609
coredb-operator/** @sjmiller609 @nhudson @ianstanton @ChuckHend
conductor/** @sjmiller609 @nhudson @ianstanton @ChuckHend
tembo-pod-init/** @nhudson
