Repository tembo-io/tembo-stacks, changes with the owners that CODEOWNERS names for each.
All owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

CODEOWNERS:

.github/** @sjmiller609 @nhudson @ianstanton
charts/** @sjmiller609 @nhudson @ianstanton
dataplane-webserver/** @sjmiller609
coredb-operator/** @sjmiller609 @nhudson @ianstanton @ChuckHend
conductor/** @sjmiller609 @nhudson @ianstanton @ChuckHend
tembo-pod-init/** @nhudson

add exampel to sample coredb
  coredb-operator/yaml/sample-coredb.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add filter to get_pg_configs
  coredb-operator/src/apis/coredb_types.rs
  coredb-operator/src/apis/postgres_parameters.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add comment
  coredb-operator/src/apis/coredb_types.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

move all image builds to new quay org
  .github/workflows/deploy.yml
Owners: @sjmiller609, @nhudson, @ianstanton

force rebuild of container image
  tembo-pod-init/Dockerfile
Owners: @nhudson

fix input name
  .github/workflows/deploy.yml
Owners: @sjmiller609, @nhudson, @ianstanton

WIP: moving ingress route tcp into operator
  coredb-operator/.gitignore
  coredb-operator/src/configmap.rs
  coredb-operator/src/extensions.rs
  coredb-operator/src/ingress.rs
  coredb-operator/src/ingress_route_tcp_crd.rs
  coredb-operator/src/lib.rs
  coredb-operator/src/postgres_exporter.rs
  coredb-operator/src/statefulset.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

wip: switching logic to just check for all the existing mathers
  coredb-operator/src/ingress.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

update default image
  coredb-operator/src/controller.rs
  coredb-operator/src/defaults.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add reconcile configmap for pg configs
  coredb-operator/src/apis/postgres_parameters.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add volume and configmaps
  coredb-operator/src/statefulset.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

reconcile logic for ingress route tcp looks right
  coredb-operator/src/ingress.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

update crd
  charts/coredb-operator/templates/crd.yaml
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Resolved compiler errors in operator
  coredb-operator/src/errors.rs
  coredb-operator/src/ingress.rs
  coredb-operator/src/lib.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

clippy + fmt
  coredb-operator/src/errors.rs
  coredb-operator/src/extensions.rs
  coredb-operator/src/ingress.rs
  coredb-operator/src/lib.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Remove code in conductor
  conductor/src/lib.rs
  conductor/src/main.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

clippy + fmt
  conductor/src/lib.rs
  conductor/src/main.rs
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add to reconcile loop
  coredb-operator/src/controller.rs
  coredb-operator/src/ingress.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/controller.rs
  coredb-operator/src/ingress.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

export as public
  coredb-operator/src/lib.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

remove kopium gen file
  conductor/src/coredb_crd.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

align dependencies between operator and conductor
  conductor/Cargo.lock
  conductor/Cargo.toml
  conductor/src/extensions.rs
  conductor/src/lib.rs
  conductor/src/main.rs
  conductor/src/types.rs
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fix toml
  conductor/Cargo.lock
  conductor/Cargo.toml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

remove debug
  conductor/src/main.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add prebuild hook
  conductor/Dockerfile
  conductor/pre-build-hook.sh
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

move cargo into build dir
  conductor/Dockerfile
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

handle env var
  coredb-operator/src/controller.rs
  coredb-operator/src/ingress.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Adjust justfile
  coredb-operator/justfile
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Test on k8s 1.26, also helps with flake detection
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Add Traefik to justfile
  coredb-operator/justfile
  coredb-operator/testdata/kind-1.24.yaml
  coredb-operator/testdata/kind-1.25.yaml
  coredb-operator/testdata/kind-config.yaml
  coredb-operator/testdata/traefik-values.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Use justfile in CI
  .github/workflows/operator.yaml
  coredb-operator/README.md
  coredb-operator/justfile
  coredb-operator/src/ingress.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Tidy logs
  coredb-operator/src/controller.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

tidy ci
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

add makedeb
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

install just with gha
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

install kind
  .github/workflows/operator.yaml
  coredb-operator/src/apis/coredb_types.rs
  coredb-operator/src/apis/postgres_parameters.rs
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

tidy comment
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

deser ConfigValue
  coredb-operator/src/apis/postgres_parameters.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add new tests
  coredb-operator/src/controller.rs
  coredb-operator/src/ingress.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/apis/postgres_parameters.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend
