Repository tembo-io/tembo-stacks, changes with the owners that CODEOWNERS names for each.
All owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

remove comments
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add custom metrics
  conductor/Cargo.lock
  conductor/Cargo.toml
  conductor/src/lib.rs
  conductor/src/main.rs
  conductor/src/monitoring.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add metrics
  conductor/src/lib.rs
  conductor/src/main.rs
  conductor/src/monitoring.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add logs
  conductor/src/main.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add to helm chart
  charts/conductor/templates/deployment.yaml
  charts/conductor/templates/pod-monitor.yaml
  charts/conductor/values.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Tidy output
  .github/workflows/conductor.yaml
  conductor/justfile
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add pod monitor
  charts/coredb-operator/templates/pod-monitor.yaml
  charts/coredb-operator/values.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Delete annotations
  charts/coredb-operator/templates/deployment.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Update node-replacement.json
  charts/conductor/dashboards/node-replacement.json
Owners: @sjmiller609, @nhudson, @ianstanton

add test to assert for shared_preload_libaries
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

adding debugging output
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

attempt to fix tests
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Adjust log level
  coredb-operator/justfile
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

run operator on any pr
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

trigger
  coredb-operator/README.md
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

limit cluster resources so we dont run out of memory
  coredb-operator/justfile
  coredb-operator/testdata/cert-manager.yaml
  coredb-operator/testdata/cnpg.yaml
  coredb-operator/testdata/pod-init.yaml
  coredb-operator/testdata/prometheus-stack.yaml
  coredb-operator/testdata/traefik-values.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

update ml-cnpg image
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update adum-tracker.json
  charts/conductor/dashboards/adum-tracker.json
Owners: @sjmiller609, @nhudson, @ianstanton

Update adum-tracker.json
  charts/conductor/dashboards/adum-tracker.json
Owners: @sjmiller609, @nhudson, @ianstanton

bump ml-cnpg image
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

first round of removing code
  .github/workflows/operator.yaml
  charts/coredb-operator/templates/cluster-role.yaml
  coredb-operator/justfile
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/config.rs
  coredb-operator/src/controller.rs
  coredb-operator/src/cronjob.rs
  coredb-operator/src/lib.rs
  coredb-operator/tests/integration_tests.rs
  coredb-operator/yaml/install.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

bump jobs to 2
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Update cnpg.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

refactor tests, cicd
  .github/workflows/operator.yaml
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fixing tests
  .github/workflows/operator.yaml
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

removing statefulset specific code, reworking code for cnpg
  charts/tembo-operator/templates/crd.yaml
  tembo-operator/src/cloudnativepg/cnpg.rs
  tembo-operator/src/controller.rs
  tembo-operator/src/defaults.rs
  tembo-operator/src/extensions.rs
  tembo-operator/src/lib.rs
  tembo-operator/src/service.rs
  tembo-operator/src/statefulset.rs
  tembo-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton

rebase from main, change image to new default
  stacks/data_warehouse.yaml
  stacks/machine_learning.yaml
  stacks/message_queue.yaml
  stacks/oltp.yaml
  stacks/standard.yaml
  tembo-operator/test-db-extensions.yaml
  tembo-operator/test-db-params.yaml
  tembo-operator/test-db.yaml
Owners: none

fix logic
  tembo-operator/src/extensions.rs
  tembo-operator/src/lib.rs
Owners: none

error and requeue if cnpg isn't enabled
  tembo-operator/src/extensions.rs
Owners: none

add cnpg based dashboard to grafana
  charts/conductor/dashboards/cnpg-dashboard.json
Owners: @sjmiller609, @nhudson, @ianstanton

add pg-later to stacks
  stacks/data_warehouse.yaml
Owners: none

Update oltp.yaml
  stacks/oltp.yaml
Owners: none

Update machine_learning.yaml
  stacks/machine_learning.yaml
Owners: none

Update data_warehouse.yaml
  stacks/data_warehouse.yaml
Owners: none

Update machine_learning.yaml
  stacks/machine_learning.yaml
Owners: none

Update oltp.yaml
  stacks/oltp.yaml
Owners: none

move dashboard to generate their own configmaps
  charts/conductor/templates/postgres-dashboard.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Update node-replacement.json
  charts/conductor/dashboards/node-replacement.json
Owners: @sjmiller609, @nhudson, @ianstanton

Update charts/conductor/dashboards/node-replacement.json
  charts/conductor/dashboards/node-replacement.json
Owners: @sjmiller609, @nhudson, @ianstanton

Update and rename postgres-dashboard.yaml to dashboards.yaml
  charts/conductor/templates/dashboards.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

CODEOWNERS:

.github/** @sjmiller609 @nhudson @ianstanton
charts/** @sjmiller609 @nhudson @ianstanton
dataplane-webserver/** @sjmiller609
coredb-operator/** @sjmiller609 @nhudson @ianstanton @ChuckHend
conductor/** @sjmiller609 @nhudson @ianstanton @ChuckHend
tembo-pod-init/** @nhudson
