Repository tembo-io/tembo-stacks, changes with the owners that CODEOWNERS names for each.
All owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Check the label
  tembo-pod-init/src/watcher.rs
Owners: @nhudson

update CNPG base image
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

update cnpg image
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Don't skip disabled extensions
  coredb-operator/src/extensions.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Sort multi-value configs when formatting
  coredb-operator/src/apis/postgres_parameters.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add and fix tests
  coredb-operator/src/apis/postgres_parameters.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add new function to handle restarts for cnpg pods
  conductor/src/lib.rs
  conductor/src/main.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Fix comparing semantic versions
  coredb-operator/Cargo.lock
  coredb-operator/Cargo.toml
  coredb-operator/src/extensions.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

don't need to install disabled extensions
  coredb-operator/src/extensions.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Move check to correct spot
  coredb-operator/src/extensions.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add test for restarting cnpg instance
  conductor/Cargo.lock
  conductor/justfile
  conductor/testdata/kind-config.yaml
  conductor/testdata/operator-values.yaml
  conductor/testdata/traefik-values.yaml
  conductor/tests/integration_tests.rs
  conductor/tests/operator-values.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

move cnpg test into a single test
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

attempting to fix integration test
  conductor/Cargo.lock
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

update conductor cluster role
  charts/conductor/templates/cluster-role.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Update charts/conductor/templates/cluster-role.yaml
  charts/conductor/templates/cluster-role.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Revert "Don't skip disabled extensions (#140)"
  coredb-operator/src/extensions.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

set image based on stack name for cnpg
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update cnpg.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Enable CNPG by default
  conductor/src/lib.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

pgmq enabled on initial creation
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

adjust tests
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Fix tests
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Fix race condition
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Fix restart on non-CNPG mode
  conductor/src/main.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update main.rs
  conductor/src/main.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

add retention policy config to cnpg backups
  coredb-operator/src/apis/postgres_parameters.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

update ml-cnpg image
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

change to 80 days
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update cnpg.rs
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

bump ml-cnpg image
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

look in Cluster resource for initContainer image
  charts/tembo-pod-init/templates/deployment.yaml
  charts/tembo-pod-init/values.yaml
  tembo-pod-init/Cargo.toml
  tembo-pod-init/src/container.rs
  tembo-pod-init/src/mutate.rs
  tembo-pod-init/src/watcher.rs
Owners: @sjmiller609, @nhudson, @ianstanton

add coredb-operator to builder
  tembo-pod-init/Dockerfile
Owners: @nhudson

add pre-build hook
  tembo-pod-init/pre-build-hook.sh
Owners: @nhudson

remove action now that we do not need to set the initContainer image
  tembo-pod-init/.github/actions/argocd-update-initcontainer/action.yaml
Owners: @nhudson

fix typos
  tembo-pod-init/Cargo.toml
  tembo-pod-init/src/watcher.rs
Owners: @nhudson

wrap kube client correctly
  tembo-pod-init/src/main.rs
Owners: @nhudson

if we wrap kube client in Arc, we have to do that everywhere
  tembo-pod-init/src/health.rs
  tembo-pod-init/src/main.rs
  tembo-pod-init/src/watcher.rs
Owners: @nhudson

add correct permissions for pod-init to look at cnpg cr
  charts/tembo-pod-init/templates/cluster-role.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

adjust logic on how we set shared_preload_libraries
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

CODEOWNERS:

.github/** @sjmiller609 @nhudson @ianstanton
charts/** @sjmiller609 @nhudson @ianstanton
dataplane-webserver/** @sjmiller609
coredb-operator/** @sjmiller609 @nhudson @ianstanton @ChuckHend
conductor/** @sjmiller609 @nhudson @ianstanton @ChuckHend
tembo-pod-init/** @nhudson
