Repository tembo-io/tembo-stacks, changes with the owners that CODEOWNERS names for each.
All owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

CODEOWNERS:

.github/** @sjmiller609 @nhudson @ianstanton
charts/** @sjmiller609 @nhudson @ianstanton
dataplane-webserver/** @sjmiller609
coredb-operator/** @sjmiller609 @nhudson @ianstanton @ChuckHend
conductor/** @sjmiller609 @nhudson @ianstanton @ChuckHend
tembo-pod-init/** @nhudson

Update dashboards.yaml
  charts/conductor/templates/dashboards.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

remove cnpg dashboard and revert how we generate them for now
  charts/conductor/dashboards/cnpg-dashboard.json
  charts/conductor/templates/dashboards.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

change uid of dashboard
  charts/conductor/dashboards/node-replacement.json
Owners: @sjmiller609, @nhudson, @ianstanton

make each dashboard into its own configmap
  charts/conductor/templates/dashboards.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

revert dashboard template
  charts/conductor/templates/dashboards.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

redefine the dashboards again
  charts/conductor/dashboards/adum-tracker-dashboard.json
  charts/conductor/dashboards/data-plane.json
  charts/conductor/dashboards/node-replacement.json
  charts/conductor/dashboards/postgres-exporter.json
  charts/conductor/templates/dashboards.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

Fix dashboards so that Grafana will pick them up
  charts/conductor/dashboards/cnpg-dashboard.json
  charts/conductor/dashboards/data-plane.json
  charts/conductor/dashboards/node-replacement.json
  charts/conductor/dashboards/postgres-exporter.json
  charts/conductor/templates/dashboards.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

[TEM-1407] Allow nodes to be scaled down by default
  tembo-operator/src/cloudnativepg/cnpg.rs
Owners: none

fmt
  tembo-operator/src/cloudnativepg/cnpg.rs
Owners: none

Update rust version conductor
  conductor/Dockerfile
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add build dependencies of slim
  conductor/.gitignore
  conductor/Dockerfile
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

avoid building twice
  conductor/Dockerfile
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Adjust uptime metric
  charts/conductor/dashboards/adum-tracker-dashboard.json
Owners: @sjmiller609, @nhudson, @ianstanton

Update adum-tracker-dashboard.json
  charts/conductor/dashboards/adum-tracker-dashboard.json
Owners: @sjmiller609, @nhudson, @ianstanton

Update adum-tracker-dashboard.json
  charts/conductor/dashboards/adum-tracker-dashboard.json
Owners: @sjmiller609, @nhudson, @ianstanton

update Dockerfile and code to allow for trace feature
  tembo-operator/Cargo.lock
  tembo-operator/Cargo.toml
  tembo-operator/Dockerfile
  tembo-operator/src/controller.rs
  tembo-operator/src/main.rs
  tembo-operator/src/telemetry.rs
Owners: none

bump k8s related crates to fix build issue with tembo-operator
  conductor/Cargo.lock
  conductor/Cargo.toml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

bump pod-init k8s specific crates as well
  tembo-pod-init/Cargo.toml
Owners: @nhudson

bump pod-init k8s specific crates as well
  tembo-pod-init/src/watcher.rs
Owners: @nhudson

Add in tracing code to pod-init
  tembo-pod-init/Cargo.toml
  tembo-pod-init/Dockerfile
  tembo-pod-init/src/config.rs
  tembo-pod-init/src/container.rs
  tembo-pod-init/src/lib.rs
  tembo-pod-init/src/log.rs
  tembo-pod-init/src/main.rs
  tembo-pod-init/src/mutate.rs
  tembo-pod-init/src/watcher.rs
Owners: @nhudson

adding telemetry code
  tembo-pod-init/src/telemetry.rs
Owners: @nhudson

Add trunk_install to spec
  tembo-operator/src/apis/coredb_types.rs
  tembo-operator/src/defaults.rs
  tembo-operator/src/extensions.rs
Owners: none

Add trunk install status
  tembo-operator/src/apis/coredb_types.rs
  tembo-operator/src/controller.rs
  tembo-operator/src/defaults.rs
  tembo-operator/src/extensions.rs
Owners: none

Update CRD
  charts/tembo-operator/templates/crd.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

make extension schema specification optional
  tembo-operator/src/defaults.rs
  tembo-operator/src/extensions.rs
Owners: none

update crd
  charts/tembo-operator/templates/crd.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

move log
  tembo-operator/src/extensions.rs
Owners: none

Update README.md
  README.md
Owners: none

Update lib.rs
  conductor/src/lib.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

refactor for test
  tembo-operator/src/extensions.rs
Owners: none

add test case
  tembo-operator/src/extensions.rs
Owners: none

deploy a base tempo deployment so that pod-init will function correctly
  tembo-operator/justfile
  tembo-operator/testdata/pod-init.yaml
Owners: none

Handle trunk install
  tembo-operator/src/controller.rs
  tembo-operator/src/exec.rs
  tembo-operator/src/extensions.rs
Owners: none

attempting to fix tests with conductor
  conductor/justfile
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

make sure pod-init and the operator have the otel endpoint configured
  conductor/justfile
  conductor/testdata/operator-values.yaml
  conductor/testdata/pod-init.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fix tests
  conductor/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

map extension name to trunk
  tembo-operator/src/extensions.rs
Owners: none
