Repository tembo-io/tembo-stacks, changes with the owners that CODEOWNERS names for each.
All owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

CODEOWNERS:

.github/** @sjmiller609 @nhudson @ianstanton
charts/** @sjmiller609 @nhudson @ianstanton
dataplane-webserver/** @sjmiller609
coredb-operator/** @sjmiller609 @nhudson @ianstanton @ChuckHend
conductor/** @sjmiller609 @nhudson @ianstanton @ChuckHend
tembo-pod-init/** @nhudson

fix stop test
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Fix psql command for CNPG and add migration test (#127)
  coredb-operator/src/controller.rs
  coredb-operator/src/extensions.rs
  coredb-operator/src/postgres_exporter.rs
  coredb-operator/src/statefulset.rs
  coredb-operator/tests/integration_tests.rs
  tembo-pod-init/.gitignore
  tembo-pod-init/src/main.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Reduce default logging
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Increase min sleep time to decrease operator business
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Increase reliability of tests
  coredb-operator/justfile
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Decrease log volume
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

changes
  coredb-operator/justfile
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

rebase
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

clippy fixes
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

initial work to add params from cdb config
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/test-db-params.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

adding more debugging
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/test-db-params.yaml
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

clean up debugging code, add better error handling in patch for cnpg
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

adding broken test
  coredb-operator/src/exec.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update coredb-operator/src/extensions.rs
  coredb-operator/src/extensions.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

adding more tests
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

finish up pgparams test
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fix tests, fix clippy issues
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/cloudnativepg/mod.rs
  coredb-operator/src/lib.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Handle dropping shared_preload_libraries
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Handle dropping shared_preload_libraries (#129)
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

cleanup clippy issues
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fixing test
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Remove restart
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

TEM-1284 Add postgres parameter and shared preload libary configuration (#130)
  coredb-operator/justfile
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/cloudnativepg/mod.rs
  coredb-operator/src/controller.rs
  coredb-operator/src/exec.rs
  coredb-operator/src/lib.rs
  coredb-operator/test-db-params.yaml
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Update .github/workflows/operator.yaml
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

if lost+found dir exists, delete it
  tembo-pod-init/src/container.rs
Owners: @nhudson

add reconcile for ScheduledBackups, fix backup bug, update default cnpg image
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/controller.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

adding in test to check backup configuration
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Fix operator tests
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Increase timeouts
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Add retry to test exec
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

flake check 1
  coredb-operator/README.md
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

flake check 2
  coredb-operator/README.md
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Increase test buddy lifetime
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

flake check 1
  coredb-operator/README.md
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

flake check 2
  coredb-operator/README.md
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

don't bother installing disabled extensions
  coredb-operator/src/extensions.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

fmt
  coredb-operator/src/cloudnativepg/cnpg.rs
  coredb-operator/src/extensions.rs
  coredb-operator/tests/integration_tests.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend

Tidy test output
  .github/workflows/operator.yaml
Owners: @sjmiller609, @nhudson, @ianstanton

update cnpg image
  coredb-operator/src/cloudnativepg/cnpg.rs
Owners: @sjmiller609, @nhudson, @ianstanton, @ChuckHend
